.views-collapsible-list .btn--list-collapse-action {
  background-color: #d3d8de;
  border: solid 1px #d3d8de;
  float: right;
  font-size: 13px;
  margin: 0 0 0 8px;
  padding: 5px 25px;
}

.views-collapsible-list .btn--list-collapse-action[disabled="disabled"] {
  background-color: #f9fafb;
  border: solid 1px #f9fafb;
  color: #b8bbbf;
}

.views-collapsible-list .collapse-expand-toggle {
  height: 20px;
  margin-right: 9px;
  flex: 0 0 20px;
  background: url('../images/expanded.svg') no-repeat center;
}

.views-collapsible-list .js-expanded .collapse-expand-toggle {
  background: url('../images/collapsed.svg') no-repeat center;
}

.views-collapsible-list > ul {
  clear: both;
}

.views-collapsible-list > ul > li {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
}
